.app {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 20px;
}
section.preparation h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 10px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

@media (min-width: 1000px) {
    body {
        background-color: hsl(340, 33%, 98%);    
    }
    .app-container {
        max-width: 800px;
        background-color: white;
    }
    section.preparation {
        width: 100%;
        padding: 10px;
    }
}